.game-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 98vh;
}

.game-layout-element {
  width: 98vw;
  max-width: 600px;
}

@media screen and (max-height: 350px) {
  .game-layout-element {
    font-size: 14px;
  }
}

@media only screen and (min-aspect-ratio: 3/4) and (max-height: 1000px) {
  .game-layout-container {
    height: auto;
  }

  .game-layout-element {
    margin-bottom: 16px;
  }
}